<%= content_for :page_title, "Create a policy" %>

<h1>Create a policy</h1>

<%= form_for policy do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>

  <%= f.buttons(cancel_link: policies_path) %>
<% end %>
